# Exclude all ".DS_Store" and "package-lock.json" file(s) in entire project.
.DS_Store
package-lock.json

# Exclude the "./node_modules" directory.
node_modules

# Exclude the "./assets" directory, the compile will generate this.
assets/*

# Exclude the contents of ".sources/css/bootstrap/*" but keep the directory.
sources/css/bootstrap/*
!sources/css/bootstrap/.gitkeep

# Exclude the contents of ".sources/img/src/*" but keep the directory.
sources/img/src/*
!sources/img/src/.gitkeep
